@import '../../assets/variables.scss';
@import '../../assets/reset.scss';


.form {
	width: 900px;
	font-family: $openSans;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	color: $fourth;

	.alertContainer {
		letter-spacing: 1px;
		width: 100%;
		border-radius: 0 0 20px 20px;
		color: $main;
		overflow: hidden;
		max-height: 0;
		transition: max-height 1200ms ease-in-out;

		&.info {
			background-color: $info;
			box-shadow: $infoShadow;

		}

		&.warning {
			background-color: $alert;
			box-shadow: $warningShadow;
		}

		.alertContent {
			margin: 15px 0;
			text-align: center;
			letter-spacing: 1px;
			font-family: $openSans;
		}
	}

	.form__badge {
		margin-right: 10px;
		letter-spacing: 1px;
		color: $fourth;
	}

	.form__container {
		width: 100%;
		margin-top: 10px;


		.form__lengthInput {
			width: 49%;
			float: left;
			display: block;
			background-color: $main;
			display: flex;
			justify-content: space-between;
			padding: 20px 40px;
			margin: 10px 0;
			border-radius: 20px;
			box-shadow: $shadow;


			// .form__badge {
			// 	margin-right: 10px;
			// 	letter-spacing: 1px;

			// }

			.form__beamlengthInput {
				width: 120px;
				text-align: center;
				margin: 0 5px;
				font-family: $raleway;
				font-size: 18px;
				color: $fourth;
				font-weight: 400;
				border: 2px solid $second;
				border-radius: 8px;
				outline: none;

				&:focus {
					border: 2px solid $third;
				}
			}
		}

		.form__numOfForcesInput {
			width: 49%;
			background-color: $main;
			float: right;
			display: flex;
			padding: 20px 40px;
			margin: 10px 0;
			justify-content: space-between;
			border-radius: 20px;
			box-shadow: $shadow;



			// .form__badge {
			// 	margin-right: 10px;
			// 	letter-spacing: 1px;

			// }

			.form__numOfForcesInput-options {
				display: flex;
				justify-content: space-between;
				width: 110px;
				font-family: $raleway;
				font-size: 20px;
				color: $fourth;
				font-weight: 400;

				input {
					margin: 0 8 px;
				}

			}
		}
	}

	.form__forceInput {
		background-color: $main;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 10px auto;
		// padding: 20px 85px 20px 40px;
		border-radius: 20px;
		overflow: hidden;
		max-height: 0;
		transition: max-height 1200ms ease-in-out;
		box-shadow: $shadow;

		// .form__badge {
		// 	letter-spacing: 1px;
		// }

		input {
			width: 120px;
			height: 100%;
			text-align: center;
			margin: 0 8px;
			font-family: $raleway;
			font-size: 18px;
			color: $fourth;
			font-weight: 400;
			border: 2px solid $second;
			border-radius: 8px;
			outline: none;

			&:focus {
				border: 2px solid $third;
			}
		}
	}

	.errorAlert {
		margin: 5px auto;
		padding: 5px 40px;
		border-radius: 10px;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: -10px;
		background-color: $alert;
		transform: translateY(100%);
		text-align: center;


	}
}