@import '../../assets/reset.scss';
@import '../../assets/variables.scss';

.chartsSection {
	width: 900px;
	height: 50vh;
	background-color: $main;
	padding: 30px 0;

	.chartsContainer {
		margin: 0 auto;
		background-color: transparent;
		width: 800px;
		border-left: 2px solid black;
		border-right: 2px solid black;
		height: 100%;

		.recharts-wrapper {
			left: -60px;
		}
	}
}