@import '../../assets/reset.scss';
@import '../../assets/variables.scss';

.solveButton {
	width: 30%;
	height: 60px;
	background-color: $button;
	color: $second;
	text-align: center;
	font-family: $raleway;
	font-size: 22px;
	border-radius: 30px;
	box-shadow: $shadow;
	letter-spacing: 5px;
	font-weight: 700;
	border: none;
	transition: color 1s ease-in-out,
		background-color 1s ease-in-out;
	margin: 20px auto;

	&.disabled {
		background-color: rgba(1, 1, 1, 0.239);
		color: rgba(1, 1, 1, 0.075);
		transition: color 1s ease-in-out,
			background-color 1s ease-in-out;

		&:focus {
			outline: none;
			border: none;
		}
	}

	span {
		display: block;
		margin: auto auto;
	}

	&:focus {
		outline: none;
		border: 2px solid darken($button, 10%);
	}
}

.chartsComponent {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow-y: hidden;


	.chartsSection {
		width: 900px;
		// height: 100vh;
		background-color: $main;
		// padding: 30px 0;
		position: relative;
		transition: transform 2s ease-in-out;
		overflow: visible;
		// overflow-y: hidden;

		&.hidden {
			transform: translate(0, -100%);

		}

		&.visible {
			transform: translate(0, 0%);
		}


		.chartsContainer {
			margin: 0 auto;
			background-color: transparent;
			width: 800px;
			border-left: 2px solid rgba(1, 1, 1, 0.2);
			border-right: 2px solid rgba(1, 1, 1, 0.2);
			// overflow-y: hidden;
			// overflow-x: visible;
			transition: max-height 2s ease-in-out;
			overflow: visible;


			// &.hidden {
			// 	max-height: 0;
			// 	overflow: hidden;
			// 	// transition: height 2s ease-in-out;
			// }

			// &.visible {
			// 	max-height: 800px;
			// 	overflow: visible;
			// }

			.recharts-wrapper {
				left: -60px;
				position: absolute;
			}
		}
	}
}