@import '../../assets/reset.scss';
@import '../../assets/variables.scss';

.solveButton {
	width: 30%;
	height: 60px;
	background-color: $button;
	color: $second;
	text-align: center;
	font-family: $raleway;
	font-size: 22px;
	border-radius: 30px;
	box-shadow: $solveButtonShadow;
	letter-spacing: 5px;
	font-weight: 700;
	border: none;
	transition: color 1s ease-in-out,
		background-color 1s ease-in-out;
	margin: 20px auto;

	&.disabled {
		background-color: rgba(1, 1, 1, 0.239);
		color: rgba(1, 1, 1, 0.075);
		transition: color 1s ease-in-out,
			background-color 1s ease-in-out;
		box-shadow: $shadow;

		&:focus {
			outline: none;
			border: none;
		}
	}

	span {
		display: block;
		margin: auto auto;
	}

	&:focus {
		outline: none;
		border: 2px solid darken($button, 10%);
	}
}

.chartsComponent {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow-y: hidden;

	.chartsSection {
		width: 900px;
		// height: 100vh;
		background-color: $main;
		// padding: 30px 0;
		position: relative;
		// transition: transform 2s ease-in-out;
		transition: max-height 2s ease-in-out;
		overflow: hidden;

		// overflow-y: hidden;

		&.hidden {
			// transform: translate(0, -100%);
			max-height: 0;
		}

		&.visible {
			// transform: translate(0, 0%);
			box-shadow: $shadow;
			padding-bottom: 30px;
			margin-bottom: 50px;
			max-height: 1100px;
		}


		.chartsContainer {
			margin: 0 auto;
			background-color: transparent;
			width: 800px;
			border-left: 2px solid rgba(1, 1, 1, 0.2);
			border-right: 2px solid rgba(1, 1, 1, 0.2);
			// overflow-y: hidden;
			// overflow-x: visible;
			transition: max-height 2s ease-in-out;
			overflow: visible;


			.chartContainer__title {

				text-align: center;
				width: 100%;
				position: relative;
				font-family: $openSans;
				font-size: 20px;
				letter-spacing: 4px;
				font-weight: 700;
				color: $second;
				background-color: $fourth;
				margin: 40px 0;
				padding: 10px 0;
				// border-radius: 20px 20px 0 0;

				.chartContainer__unitX {
					position: absolute;
					font-family: $raleway;
					color: $fourth;
					right: 10px;
					bottom: -460px;
					font-size: 20px;
				}



				.chartContainer__unitY {
					position: absolute;
					font-family: $raleway;
					color: $fourth;
					left: 5px;
					bottom: -40px;
					font-size: 20px;
					letter-spacing: 1px;
				}
			}

			.recharts-wrapper {
				left: -60px;

			}
		}
	}
}