// @import './fonts/stylesheet.scss';

// colors

$main : rgba(255, 255, 255, 1.0);
$second: rgb(235, 235, 235);
$third: rgba(163, 163, 163, 1.0);
$fourth: rgb(121, 121, 121);
$fifth: rgba(0, 0, 0, 1.0);
$alert: rgb(233, 135, 157);
$info: rgb(135, 186, 233);

// fonts

$raleway : 'Open Sans',
sans-serif;
;
$openSans : 'Raleway',
sans-serif;

//others

$arrowWidth: 30px;
$arrowHeight: 90px;
$measureLineHeight: ($arrowHeight+30px);