$arrowWidth: 30px;
$arrowHeight: 90px;
$measureLineHeight: ($arrowHeight+30px);

// colors

$main : rgba(124, 141, 179, 1.0);
$second: rgba(232, 235, 243, 1.0);
$third: rgba(176, 187, 212, 1.0);
$fourth: rgba(89, 110, 157, 1.0);
$fifth: rgba(55, 77, 127, 1.0);